* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #ff9a9e, #fad0c4);
    color: #333;
}

/* Контейнер */
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 30px 20px 40px 20px;
}

/* Заголовки */
h1 {
    text-align: center;
    color: #e91e63;
    font-size: 24px;
}

/* ===== КНОПКИ ===== */
button {
    display: block;
    width: 100%;
    padding: 20px;
    margin: 14px 0;
    border: none;
    border-radius: 50px;
    background: #e91e63;
    color: white;
    font-size: 19px;
    font-weight: bold;
}

/* Текст под кнопкой */
.hidden {
    display: none;
    background: white;
    padding: 18px;
    border-radius: 18px;
    margin-top: -5px;
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 1.4;
}

/* Фото */
img {
    width: 100%;
    border-radius: 20px;
    margin: 15px 0;
}

/* Музыка */
audio {
    width: 100%;
    height: 60px;
    margin: 20px 0;
}

/* Убираем лишнюю высоту */
html, body {
    min-height: auto;
}
